# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv

# Data
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# Notebooks
.ipynb_checkpoints

# Build artifacts
build/
dist/
*.egg-info/

# Logs
*.log
.gemini/
.claude/